:root {
    --brand-500: hsl(235 calc( 1 *85.6%) 64.7% /1);
    --white-500: hsl(var(--white-500-hsl)/1);
    --primary-700: hsl(225 calc( 1 *6.3%) 12.5% /1);
}

body {
    color: white;
    overflow-x:hidden;
    margin: 0;
    padding: 0;
}

.discord-widget {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.widget-theme-dark {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    font-family: var(--font-display);
    font-size: 14px;
    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.widgetHeader {
    background-color: var(--brand-500);
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.widgetFooterText {
    display: inline-block;
    font-weight: 500;
    color: #8a8e94;
    opacity: .5;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.widgetFooter {
    -webkit-box-shadow: 0 -1px 18px hsl(0 calc( 1 *0%) 0% /.2), 0 -1px 0 hsl(0 calc( 1 *0%) 0% /.2);
    box-shadow: 0 -1px 18px hsl(0 calc( 1 *0%) 0% /.2), 0 -1px 0 hsl(0 calc( 1 *0%) 0% /.2);
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: var(--primary-700);
    padding: 6px 6px 6px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 30px;
}

.widgetLogo {
    background: url(discord-logo.svg) 50% no-repeat;
    width: 124px;
    height: 34px;
    background-size: 124px 34px;
    display: inline-block;
    -webkit-transition: opacity .25s ease-out;
    transition: opacity .25s ease-out
}

.widgetHeader, .widgetHeaderCount {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    float: right;
    text-align: right;
    font-size: 90%;
}

.widgetBtnConnect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 120px;
    height: 30px;
    border: 1px solid #212325;
    border-radius: 4px;
    background-clip: padding-box;
    background-color: hsl(0 calc( 1 *0%) 100% /.1);
    -webkit-box-shadow: inset 0 1px 0 hsl(0 calc( 1 *0%) 100% /.04);
    box-shadow: inset 0 1px 0 hsl(0 calc( 1 *0%) 100% /.04);
    -webkit-transition: opacity .25s ease-out;
    transition: opacity .25s ease-out;
}

.discord-widget a {
    color: var(--white-500);
    text-decoration: none;
}

.title-text {
    float: left;
}
.invite-text {
    float: right;
    color: #e9e9e9;
    padding-right: 8px!important;
}
.invite-text a {
    text-decoration: none;
    color: inherit;
    font-size: 60%!important;
}

.invite-button {
    padding: 3px 5px!important;
    background: #2461b2;
    background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
    background: -moz-linear-gradient(top, #888, #575757);
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #555!important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.invite-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
    background: -moz-linear-gradient(top, #757575, #4b4b4b);
}
.invite-button:active {
    color: #afafaf;
    background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
    background: -moz-linear-gradient(top, #575757, #888);
}

.discord-userlist {
    padding-left: 14px!important;
    list-style-type: none!important;
    margin-top: 5px!important;
    margin-bottom: 5px!important;
}
.discord-user {
    position: relative;
    white-space: nowrap;
    overflow: hidden
}
.discord-user span {
    font-size: .8em;
    opacity: .5
}

.discord-user-status {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: pink;
    border-radius: 50%;
    border: solid thin #fff!important;
    border-color: #3a3a3a!important;
    top: 14px;
    left: 14px
}
.discord-online {
    background-color: #43b581
}
.discord-idle {
    background-color: #faa61a
}
.discord-avatar {
    border-radius: 100%;
    width: 24px;
    height: 24px;
    border: solid 2px #fff!important;
    border-color: #3a3a3a!important;
    display: inline;
    margin-right: 5px!important;
    vertical-align: middle
}
.discord-allusers-toggle {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.discord-users-online {
    font-size: .75em!important;
    margin: 10px 10px 0 0!important;
    text-align: right
}
.discord-join {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px!important;
    color: white;
    background-color: #2461b2;
    position: fixed;
    bottom: 0;
}
.discord-join a {
    color: #fff;
    text-decoration: none
}
.discord-join:hover {
    background-color: #1b4a88
}